body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  margin-left: 100px;

  color: #12625f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: #5ec57e;
  font-family: "Source Sans Pro", sans-serif;
}

.the-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 54px;
  color: #12625f;
}

.start-now {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  color: white;
  background-color: #12625f;
  padding: 12px 40px;
  border-radius: 2px;
  border: none;
}

.start-now:hover {
  background-color: #5ec57e;
}

.title {
  margin-top: 250px;
  margin-left: 150px;
}

#circle {
  position: absolute;
  z-index: -1;
  margin-top: -337px;
  margin-left: -450px;
  width: 700px;

  padding: 400px 800px;
  background: #ecf8e5;
  border-radius: 50%;
}

.salad {
  position: absolute;
  right: 150px;
  margin-top: -400px;
  width: 500px;
  height: 550px;
}
.stats-item {
  display:block;
  margin-left:auto;
  margin-right: auto;

  font-family: "Source Sans Pro", sans-serif;
  /*background-color: #12625f;
  color: white;*/
  color: #12625f;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  font-size: 25px;

  padding: 40px;
  z-index: -1;
  /*margin-top: 150px;*/
}

.stats-title {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ffffff;
  color: #12625f;
  margin-top: 300px;
  text-align: center;
  padding: 60px;
}

.slogan {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  margin-top: -30px;
  color: #0d3836;
}

/* title styles */
.title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.title span:nth-of-type(1)::before,
.title span:nth-of-type(1)::after {
  animation-delay: 0.5s;
}

.title span:nth-of-type(2)::before,
.title span:nth-of-type(2)::after {
  animation-delay: 1s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.reasons{
  display:flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.reason1 {
  background-color: #ecf8e5;
  border-color: white;
  color: #0d3836;
  max-width: 300px;
  padding: 20px 20px;
  margin: 30px 30px;
  text-align: center;
  border: none;

  

}
.reason2 {
  background-color: #d5eec6;
  border-color: white;
  color: #0d3836;
  max-width: 300px;
  padding: 20px 20px;
  margin: 30px 30px;
  text-align: center;
  border: none;
  
}
.option {
  display: grid;
  grid-template-columns: auto auto auto;
}

.title-options {
  color: #0d3836;
  text-align: center;
}

.fork {
  width: 215px;
  height: 215px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit:scale-down;
}

.reason1:hover {
  transform: scale(1.05);
  background-color: #d5eec6;
  color: #0d3836;
}

.reason2:hover {
  transform: scale(1.05);
  background-color: #ebfde1;
  color: #0d3836;
}

.square {
  position: relative;

 
  width: 20%;
  background-color: #12625f;
  height: 320px;
  border-radius: 3%;
  text-align: center;
  border: none;
  padding: 50px;
    margin: 10px;
}

.square:hover {
  transform: scale(1.05);
  
  color: #0d3836;
}

.recipe-title {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;

  color: white;
  
  text-decoration: none;
}

.recipe-credit {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;

  color: white;
  
  text-decoration: none;
}

.recipe-image {
  display: block;
  background-color: white;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-top: 8%;
  border-radius: 3%;
  
  margin-left: auto;
  margin-right: auto;
}
* {
    box-sizing: border-box;
  }

  .food {
    margin: 0;
    padding: 0;
  }
  
 
 .food li {
    cursor: pointer;
    position: relative;
    padding:12px 12px;
    width: 100%;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  .food li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  
  .food li:hover {
    background: #ddd;
  }
  
