ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    margin-right: 40px;
    color: #12625F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #5EC57E;
  }

  .the-title{
    font-family: 'Anton', sans-serif;
    font-size: 54px;
    color: #12625F;
  }

  .start-now{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    color: white;
    background-color: #12625F;
    padding: 12px 40px;
    border-radius: 2px;
    border: none;
  }

  .start-now:hover{
    background-color: #5EC57E;
  }
