body{
    max-width: 100%;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    margin-left:100px;
    
    color: #12625F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #5EC57E;
  }

  h2 {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    margin-left:50px;
    
    color: #12625F;
    padding: 14px 16px;
    text-decoration: none;
  }

  .the-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 54px;
    color: #12625F;
  }

  .start-now{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    color: white;
    background-color: #12625F;
    padding: 12px 40px;
    border-radius: 2px;
    border: none;
  }

  .start-now:hover{
    background-color: #5EC57E;
  }

  .title{
    margin-top: 250px;
    margin-left: 150px;

  }

  .circle {
    position: absolute;
    z-index:-1;
    margin-top: -700px;
    margin-left: -350px;
    width: 700px;
    height:150px;
    padding: 400px 800px;
    background: #ECF8E5;
    border-radius: 50%;
  }

  .square {
    position:absolute;
   
    margin-left: 50px;
    width: 20%;
    background-color: #12625F;
    height: 350px;
    border-radius: 5%;
    text-align: center;
    /*padding: 50px;
    margin: 10px;*/

  }

  .recipe-title{
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }